<div class="container">
  <div class="row">
    <h1>New Comment</h1>
    <div class="well">
      <form>
        <div class="form-group">
          <label for="">comment</label>
          <div class="container">
            {{input value=content id="content"}}
          </div>
        </div>
        <div class="container">
          <button type="button" class="btn btn-primary" name="button" {{action 'submitComment'}}>Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
