<div class="container">
  <div class="row">
    <h1>{{blog.subject}}</h1>
    <div class="well">
      <label for="">Blog</label>
      <div class="container">
        {{blog.content}}
      </div>
      <div class="container">
        <img style="max-width:100px; margin-top: 15px;" src="bike.png">
      </div>
      <div class="container">
        <button type="button" class="btn btn-success" name="button" style="margin-top: 25px;" {{action 'comment' blog}}>Add Comment</button>
      </div>
    </div>
  </div>
</div>
