<div class="container">
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-6 container well">
          <img src="bikegeek.jpg" style="max-width:545px">
    </div>
    <div class="col-md-5 container well col-md-offset-1">
      <h1 style="margin-top: -7px;">Bike Geek</h1>
      Someone who's interest in cycling extends beyond mere enjoyment of
      the sport, and who is overly infatuated with the equipment itself.
      Obsessed with purchasing, or at least admiring, the very latest,
      overpriced frames, components, and even the apparel worn like spandex
      shorts and carbon fiber shoes. A bike geek will spend $8,000 on a pro
      racing bike just to ride laps around Prospect Park, and then keep it
      next to his bed at night.
    </div>
  </div>
</div>

{{outlet}}
