<div class="container">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">{{#link-to 'index'}}<img style="max-width:30px; margin-top: -7px;" src="bike.png">{{/link-to}}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>{{#link-to 'about'}}About{{/link-to}}</li>
            <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
            <li>{{#link-to 'blog'}}New Blog{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

{{outlet}}
