<div class="container">
  <div class="row ">
    <div class="col-md-5 container well">
      <h1>Contact us today:</h1>
      <p>
        Bike Geeks<br>
        1600 Pennsylvania Ave NW<br>
        Washington, DC 20500
      </p>
      <p>(503) 555-1212</p>
      <p>bikegeeks@bikegeeks.com</p>
    </div>
  </div>
</div>

{{outlet}}
