<div class="container">
  <ul>
    {{#if model}}
      {{#each model as |blog|}}
        <li>{{blog.content}}</li>
      {{/each}}
    {{else}}
      <h2>Let's add some blogs!</h2>
    {{/if}}
  </ul>

{{new-blog save="save"}}
</div>

{{outlet}}
